  .home-title {
      font-weight: 400;
      font-size: 5.7em;
      color: #333;
      text-align: left;
      margin-bottom: 30px;
      white-space: nowrap;
  }
  
  .home-title-side {
      font-weight: 400;
      font-size: .9em;
      color: #FF710D;
      text-align: left;
      text-transform: uppercase;
      font-weight: 700;
      margin-bottom: 5px;
  }
  
  .home-image {
      filter: drop-shadow(0px 20px 30px rgba(0, 0, 0, 0.1));
      border-radius: 10px;
      overflow: hidden;
      cursor: pointer;
      width: 640px;
      height: 486px;
      transition: 0.3s ease-in-out;
  }
  
  .home-image:hover {
      filter: drop-shadow(0px 30px 40px rgba(0, 0, 0, 0.3));
      transform: translateY(-10px) scale(1.01);
  }
  
  .home-image .home-image--over {
      background: linear-gradient(360deg, rgba(255, 113, 13, 0.6) 0%, rgba(0, 0, 0, 0) 100%);
      border-radius: 10px;
      position: absolute;
      width: 100%;
      height: 100%;
      left: 0px;
      top: 0px;
      z-index: 1;
      transition: 0.3s ease-in-out;
      opacity: 0;
  }
  
  .home-image:hover .home-image--over {
      opacity: 1;
  }
  
  .imagecompanybuttonview {
      justify-content: center;
      background-color: #fff;
      display: flex;
      flex-direction: column;
      align-items: center;
      padding-top: 14px;
      padding-bottom: 14px;
      padding-left: 20px;
      padding-right: 20px;
      border-bottom-left-radius: 50px;
      border-bottom-right-radius: 50px;
      border-top-left-radius: 50px;
      border-top-right-radius: 50px;
      box-shadow: 0px 11px 14px rgba(0, 0, 0, 0.1);
      max-width: 234px;
      opacity: 0;
      transition: 0.4s ease-in-out;
      transform: translateY(20px);
  }
  
  .home-image:hover .imagecompanybuttonview {
      transform: translateY(0px);
      opacity: 1;
  }
  
  .imagecompanybuttonview_label_icon {
      justify-content: flex-end;
      display: flex;
      flex-direction: row;
      align-items: center
  }
  
  .imagecompanybuttonview_icon_eyeshow {
      margin-right: 10px;
      color: #FF710D;
  }
  
  .imagecompanybuttonview_conheaoprojeto {
      font-weight: 500;
      font-size: 1.3em;
      color: #333333;
      text-align: left
  }
  
  .project-side {
      margin-left: 160px;
  }
  
  .swipe_mobile {
      font-style: normal;
      font-weight: normal;
      font-size: 2.4em;
      line-height: 110%;
      display: flex;
      align-items: center;
      text-align: center;
      color: #333333;
      display: block;
      font-weight: 400;
      padding: 30px;
  }
  
  .swipe_mobile span {
      font-weight: 600;
      color: #FF710D;
  }
  
  .swipe_bottom {
      font-weight: 600;
      color: #FF710D;
      font-size: 1.2em;
      bottom: 0;
      left: 0;
      width: 100%;
      text-align: center;
  }
  
  .swipe_bottom i {
      color: #D6D6D6;
      margin-top: 20px;
      margin-right: 0px;
  }
  
  @media (max-width: 1380px) {
      body {
          font-size: 12px;
      }
      .home-image {
          width: 360px;
          height: 300px;
      }
      .project-side {
          margin-left: 100px;
      }
  }
  
  @media (max-width: 1600px) {
      body {
          font-size: 12px;
      }
      .home-image {
          width: 470px;
          height: 320px;
      }
      .project-side {
          margin-left: 100px;
      }
  }