import s from "./styles.css";

export const links = [{ rel: "stylesheet", href: s }];

export const {{properCase name}}=(props)=>{
    return <span>{{properCase name}}</span>    
}

{{properCase name}}.links = links

export default {{properCase name}}
